#output
build/*

#Qt
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp
*resource.rc

#Visual Stuido
*.user
*.suo
*.sdf
*.opensdf
*.ipch
*.ilk
*.pdb
*.ncb
*.tlog
*.log
*.obj
*.manifest
*.lastbuildstate
*.unsuccessfulbuild
*.aps
*.exp
*.o

#Makefiles
Makefile
Makefile.*

build
lib
bin

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.a.*
